@{
  ViewData["Title"] = "KaijuDex";
}
<div class="mainPage">
  <h1>Welcome the KaijuDex!</h1>
  <p>The KaijuDex is created for fans who love Kaiju (or Giant Monsters in Japanese)</p>
  <p>This is also for those who are curious of what movie did these Kaiju debuted!</p>
  <p>You can view each Kaiju entry and their movies by clicking on either "Monsters" or "Movies" links!</p>
</div>
