@{
  ViewData["Title"] = "KaijuDex";
}
<div class="mainPage">
  <h1>Welcome the KaijuDex!</h1>
  <p>The KaijuDex is created for fans who love Kaiju (or Giant Monsters in Japanese)</p>
  <p>This is also for those who are curious of what movie did these Kaiju debuted!</p>
  <img src="/wwwroot/images/GodzillavKong.jpeg" alt="An image of King Kong fighting against Godzilla!">
</div>
