html {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 0 1px white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(80, 206, 80);
}

.mainPage{
  align-items: center;
}





